@model OnlineAuction.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="container">
            <a class="btn btn-default" asp-action="Index">&lt; Back to List</a>
            <hr />
            <dl class="dl-horizontal">

                <dd>
                    <h3>@Html.DisplayFor(model => model.Category_Name)</h3>
                </dd>
                <dd>
                    <img class="img img-thumbnail" src="~/image/category/@Html.DisplayFor(model => model.Category_Image)" alt="Alternate Text" />
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
