@model OnlineAuction.ViewModels.CreateAuctionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Product Register</a></li>
</ul>
<div class="row">
    <div id="content" class="col-sm-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data" class="form-horizontal account-register clearfix">

            <fieldset id="address">
                <legend>Product Detail </legend>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" asp-for="Product_Name">Name</label>
                    <div class="col-sm-6">
                        <input type="text" name="address_1" value="" asp-for="Product_Name" id="input-address-1" class="form-control">
                    </div>
                </div>
                <div class="form-group required">
                    <span class="col-sm-2 control-label" >Category</span>
                    <div class="col-sm-6 dropdown">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">Select Category</button>
                        <ul class="dropdown-menu">
                            @foreach (var item in Model.Categories)
                            {
                                <li class="dropdown-item">
                                    <span>Category 1</span>
                                    <ul class="dropdown-item">
                                        <li>Subcategory 1</li>
                                    </ul>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="">Category</label>
                    <div class="col-sm-6">
                        <select name="city_id" asp-items="ViewBag.SubCategoryName" class="form-control">
                            <option value=""> --- Please Select --- </option>

                        </select>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="">Duration</label>
                    <div class="col-sm-6">
                        <select name="city_id" asp-for="Duration" class="form-control">
                            <option value=""> --- Please Select --- </option>
                            <option value="1">1 Hours</option>
                            <option value="2">2 Hours</option>
                            <option value="3">3 Hours</option>
                            <option value="4">4 Hours</option>
                            <option value="5">5 Hours</option>
                            <option value="6">6 Hours</option>
                            <option value="7">7 Hours</option>
                            <option value="8">8 Hours</option>
                            <option value="9">9 Hours</option>
                            <option value="10">10 Hours</option>
                            <option value="11">11 Hours</option>
                            <option value="12">12 Hours</option>

                        </select>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" asp-for="ProductDescription">Description</label>
                    <div class="col-sm-6">
                        <textarea type="text" name="address_1" asp-for="ProductDescription" class="form-control"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" asp-for="Product_Image">Product Images</label>
                    <div class="col-sm-6">
                        <div class="container center">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 center">
                                <div class="btn-container">
                                    <input type="file" asp-for="Product_Image" name="fileup" id="fileup" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" asp-for="StartPrice">Start Price</label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="StartPrice" value="" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--the defauld disabled btn and the actual one shown only if the three fields are valid-->

                        <button type="submit" class="btn btn-default" id="fakebtn">Submit!</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

@*<h2>Create</h2>

    <h4>Auction</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubCategoryID" class="control-label"></label>
                    <select asp-for="SubCategoryID" class ="form-control" asp-items="ViewBag.SubCategoryID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartPrice" class="control-label"></label>
                    <input asp-for="StartPrice" class="form-control" />
                    <span asp-validation-for="StartPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
