@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center mt-5">
    <img class="img-fluid" src="~/image/theme/access-denied.png" alt="Alternate Text" />
</div>
