@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div>
    <div id="wrapper" class="wrapper-fluid banners-effect-7">
        <div class="row">
            <div class="col-sm-9">
                @RenderBody()
            </div>
            <aside class="col-sm-3 hidden-xs content-aside col-md-3" id="column-right">
                <partial name="_ManageNav" />
            </aside>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
