@model OnlineAuction.Models.BidOrder

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>BidOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product_ID" class="control-label"></label>
                <input asp-for="Product_ID" class="form-control" />
                <span asp-validation-for="Product_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bid_Start_Time" class="control-label"></label>
                <input asp-for="Bid_Start_Time" class="form-control" />
                <span asp-validation-for="Bid_Start_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bid_End_Time" class="control-label"></label>
                <input asp-for="Bid_End_Time" class="form-control" />
                <span asp-validation-for="Bid_End_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bid_Chair_Cost" class="control-label"></label>
                <input asp-for="Bid_Chair_Cost" class="form-control" />
                <span asp-validation-for="Bid_Chair_Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Base_Price" class="control-label"></label>
                <input asp-for="Base_Price" class="form-control" />
                <span asp-validation-for="Base_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Increment_Price_Per_Bid" class="control-label"></label>
                <input asp-for="Increment_Price_Per_Bid" class="form-control" />
                <span asp-validation-for="Increment_Price_Per_Bid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cool_Down_Time_Per_Bid" class="control-label"></label>
                <input asp-for="Cool_Down_Time_Per_Bid" class="form-control" />
                <span asp-validation-for="Cool_Down_Time_Per_Bid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
